{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{ msg }}</div>
{% endfor %}
<form action="/contact" method="post" class="form-contact">
    <p><lable>Имя: </lable><input type="text" name="username" value="" requied></p>
    <p><lable>Email: </lable><input type="text" name="email" value="" requied></p>
    <p><lable>Сообщение:</lable></p>
    <p><textarea name="message" cols="40" rows="7"></textarea></p>
    <p><input type="submit" value="Отправить"></p>
</form>

<p>Содержимое страницы "Контакты"</p>
{% endblock %}